
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<form action="~/Home/Login" method="post" style="padding-left:10px" >    
    <fieldset>
        <div class="form-group">
            <h2>Login</h2><br/>
            <p>Informe seu nome de usuário:</p>
            <input type="text" id="NomeUsuario" name="NomeUsuario" size="20" />
            <input type="submit" value="Login" />
        </div>
    </fieldset>    
</form>


